*
{
	margin: 0;
	padding: 0;
}


header
{
	background: purple;
	padding: 2px;
}


div ul
{
	left: -270px;
	background: blue;
	position: absolute;
	width: 250px;
	height: 300px;
	list-style: none;
	
}

div ul a
{
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	color: white;
}

div ul li
{
	margin: 20px;
	padding: 10px;
}

div ul a:hover
{
	background: #c0c0c0;
	color: black;
}

div i
{
	cursor: pointer;
	margin: 10px;
	font-size: 40px;
}

div i:hover ul
{
	display: block;
	visibility: visible;
}

#check
{
	display: none;
}

div i:checked ul a
{
	display: block;
}

#check:checked~ .sidebar
{
	left: 0;
}


.logo
{
	font-family: helvatica;
	font-style: italic;
	color: yellow;
	font-size: 50px;
}

a
{
	text-decoration: none;
}


div a
{
	text-align: center;
}

.fa-user
{
	font-size: 50px;
}

.top
{
	height: 300px;
	text-align: center;
	padding: 30px;
	font-size: 100px;
	color: white;
	font-family: sans-serif;
	background: linear-gradient(rgba(0,0,0,0),#808080), url('city.jpg');
	
}



.center
{
	text-align: center;
	color: #c0c0c0;
	font-weight: bold;
	font-size: 50px;
	padding: 80px;
}

.paragraph
{
	text-align: center;
	font-size: 30px;
	padding: 20px;
	border-radius: 50px;
}

.paragraph
{
	color:white;
	background: purple;
	padding: 100px;
}

.paragraph a 
{
	color: white;
	background: #c0c0c0;
	padding: 5px;
	position: relative;
	top: 50px;
}

.drop_off
{
	align-item: center;
	text-align: center;
	padding: 50px;
}

.redirect
{
	align-item: center;
	text-align: center;
	padding: 50px;
}

.store
{
	align-item: center;
	text-align: center;
	padding: 50px;
}

.alert
{
	align-item: center;
	text-align: center;
	padding: 50px;
}

.return
{
	align-item: center;
	text-align: center;
	padding: 50px;
}

.express
{
	align-item: center;
	text-align: center;
}


input
{
	width: 100%;
	height: 50px;
}

form li
{
	list-style: none;
}

form
{
	margin: 50px;
}

span
{
	margin: 20px;
	text-align: center;
}

span img
{
	width: 200px;
	height: 200px;
}

#track
{
	cursor: pointer;
	background: orange;
	color: white;
	font-size: 30px;
}

span a:hover
{
	color: white;
	background: purple;
	background-size: cover;
}

tracking-icon
{
	width: 200px;
	height: 200px;
}

.simplify
{
	text-align: center;
	padding: 40px;
}

h2
{
	text-align: center;
	margin: 20px;
}

p
{
	text-align: center;
	font-size: 20px;
}

/* #simplify
{
	position: relative;
	left: 300px;
} */

div select
{
	width: 400px;
	height: 50px;
	font-size: 20px;
	color: #c0c0c0;
}

h3, .fa-globe, select
{
	margin: 10px;
}

h3
{
	color: blue;
}

.offer, .company
{
	margin: 20px;
}

.language
{
	margin: 50px;
}

.offer li, .company li
{
	list-style: none;
	margin: 20px;
}

.offer a, .company a
{
	color: black;
}

.offer a:hover, .company a:hover
{
	color: white;
	background: purple;
	padding-left: 20px;
}

.social
{
	margin: 50px;
}

.social a
{
	font-size: 50px;
	margin: 30px;
}

section small
{
	margin: 300px;
}

section
{
	padding: 80px;
	background: purple;
	color: white;
	
}

section a
{
	color: white;
	margin: 20px;
}


section center
{
	margin: 20px;
}

b
{
	font-size: 30px;
}


main
{
	padding: 100px;
}